<section class="home-landing-page active">
    <h1 class="introduction-header">Mood & MadCo</h1>
    <p class="introduction-footer">Estamos enfocados en el desarrollo de aplicaciones web y móviles, creación de sitios e-commerce,
        e-learning, prestación de sevicios en modalidad Outsourcing y asesoramiento en proyectos digitales que
        faciliten el crecimiento y la presencia en internet de las empresas.</p>
    <div class="mask"></div>
    <video src="./images/sample.mp4" autoplay loop></video>
</section>

<section class="home-landing-page">
    <h2>Nuestros servicios</h2>
    <div class="gallery ">
        <div class="panel panel1">
            <p>Agencia</p>
            <p>Proyecto</p>
        </div>
        <div class="panel panel2">
            <p>Agencia</p>
            <p>Proyecto</p>
        </div>
        <div class="panel panel3">
            <p>Agencia</p>
            <p>Proyecto</p>
        </div>
        <div class="panel panel4">
            <p>Agencia</p>
            <p>Proyecto</p>
        </div>
        <div class="panel panel5">
            <p>Agencia</p>
            <p>Proyecto</p>
        </div>
    </div>

</section>


<script type="text/javascript" src="<%=htmlWebpackPlugin.options.js %>"></script>