<section class="home-landing-page active">
    <div class="video-container">
        <img src="./images/logo-2.png" alt="">
        <div class="mask"></div>
        <video src="./images/working_video.mp4" autoplay loop></video>
    </div>
    <div class="text-container">
        <p class="text-introduction">Estamos enfocados en el desarrollo de aplicaciones web y móviles, creación de sitios
            e-commerce,
            e-learning, prestación de sevicios en modalidad Outsourcing y asesoramiento en proyectos digitales que
            faciliten el crecimiento y la presencia en internet de las empresas.</p>
    </div>

    <a href="/" class="contact-button">Contáctanos</a>

    <div class="social-icons-container">
        <div class="social-icon twitter"></div>
        <div class="social-icon facebook"></div>
        <div class="social-icon youtube"></div>
        <div class="social-icon skype"></div>
    </div>
</section>

<section class="home-landing-page our-services">
    <div class="container-section">
        <div class="services-header">
            <img src="./images/icons/icon-services.png" alt="our services" class="services-icon-tablet">
            <div class="service-text-container">
                <div>
                    <img src="./images/icons/icon-services.png" alt="our services">
                    <h2>Nuestros <span>servicios</span></h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis ex ornare, venenatis erat vitae, scelerisque metus. Vivamus eleifend tempus ex et efficitur. Quisque pellentesque lacinia quam, in ultricies magna ullamcorper in.</p>
            </div>
        </div>

        <div class="services-container">
            <div class="service">
                <img src="./images/icons/icon-webdesign.png" alt="">
                <h3>Web design</h3>
                <p>¿No sabes cómo poder transmitir al usuario el contenido del proyecto? Contamos con los conocimientos necesarios y con un equipo de diseño que nos apoyan para poder crear la mejor experiencia de usuario acorde al proyecto y a la imagen que su empresa quiere transmitir.</p>
                <div class="button-more">
                    <a href="">More</a>
                </div>
            </div>

            <div class="service">
                <img src="./images/icons/icon-ecomerce.png" alt="">
                <h3>E-commerce</h3>
                <p>¿Quieres vender tus productos online? Utilizamos las mejores herramientas para poder crear plataformas seguras y estables de pago y transacciones, esto con el fin de que el usuario se sienta seguro al poder hacer sus compras por internet y hacer crecer tu negocio.</p>
                <div class="button-more">
                    <a href="">More</a>
                </div>
            </div>

            <div class="service">
                <img src="./images/icons/icon-elearning.png" alt="">
                <h3>E-learning</h3>
                <p>¿Quieres crear medios innovadores de estudio? Hemos realizado diplomados y cursos para empresas online, siempre contando con el apoyo de expertos pedagógicos y utilizando plataformas como por ejemplo Moodle, siempre con el ideal de que el estudiante pueda aprender en su propio tiempo y dandole la mejor experiencia para estudiar online, permitiendo que se pueda conectar tanto desde su casa como desde su celular.</p>
                <div class="button-more">
                    <a href="">More</a>
                </div>
            </div>

            <div class="service">
                <img src="./images/icons/icon-outsourcing.png" alt="">
                <h3>Outsourcing</h3>
                <p>¿Quiere ahorrar gastos de reclutamiento y selección de personal?, Mood&MadCo es tu aliado comercial, trabajamos y conseguimos el personal  de TI acorde a tus necesidades.</p>
                <div class="button-more">
                    <a href="">More</a>
                </div>
            </div>

            <div class="service">
                <img src="./images/icons/icon-webdeveloper.png" alt="">
                <h3>Web developer</h3>
                <p>¿Quiere que tu compañía sea conocida en todo el mundo? Si lo que deseas es un sitio web, te ofrecemos diferentes opciones de acuerdo a tus necesidades, para que tu compañía se encuentre en los primeros lugares de los principales buscadores, contando siempre con la confianza de tener compatibilidad con los principales navegadores del mercado y de acuerdo a  sus necesidades.</p>
                <div class="button-more">
                    <a href="">More</a>
                </div>
            </div>

            <div class="service">
                <img src="./images/icons/icon-appdeveloper.png" alt="">
                <h3>App developer</h3>
                <p>¿Tienes en mente la próxima red social o aplicación que revolucionará el mercado? Nosotros podemos ayudarte a hacerla realidad. Pensando siempre en el mercado cambiante de los dispositivos móviles tenemos un equipo multidisciplinario realizando desarrollos en iOS, Windows Phone y Android de acuerdo a tus necesidades.</p>
                <div class="button-more">
                    <a href="">More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-landing-page work-section">
</section>

<section class="home-landing-page contact">
    <div class="info">
        <h2>Contáctanos</h2>
        <p>Para poder ayudarte y asesorarte en lo que necesites</p>
        <div class="line-element"></div>
        <span class="required-fields">* Campos requeridos</span>
    </div>
    <div class="column-container">
        <div class="form-container">
            <div class="form">
                <form>
                    <input type="text" placeholder="Nombre" name="fullName" id="fullName"/>
                    <input type="email" placeholder="Correo electrónico" name="mail" id="mail"/>

                    <label class="radio-container" for="discussProject">
                        <input type="radio" id="discussProject" name="contact" value="discussProject">
                           <p>I have a project I'd like to discuss</p>
                        <span class="checkmark"></span>
                    </label>
                    <label for="discussPartnerShip" class="radio-container">
                        <input type="radio" id="discussPartnerShip" name="contact" value="discussPartnerShip">
                            <p>I'd like to discuss partnership opportunities</p>
                        <span class="checkmark"></span>
                    </label>
                    <label for="submitResume" class="radio-container">
                        <input type="radio" id="submitResume" name="contact" value="submitResume">
                        <p>I'd like to submit my resume for a job opening</p>
                        <span class="checkmark"></span>
                    </label>
                    <label for="reachOut" class="radio-container">
                        <input type="radio" id="reachOut" name="contact" value="reachOut">
                        <p>Nothing specific, just want to reach out</p>
                        <span class="checkmark"></span>
                    </label>
                    <textarea id="message" rows="5" placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>

        <div class="line-separator">
            <img src="./images/separator.png" alt="separator">
        </div>

        <div class="aside-information">
            <img src="./images/icons/icon-mail.png" alt="Icon mail">
            <span class="email-information">Mailing address</span>
            <a class="email" href="mailto:xxx@gmail.com">xxxx@gmail.com</a>
            <a href="tel:5713005272878">3005272878</a>
            <a href="tel:5713003137132">3003137132</a>
        </div>
    </div>
</section>
<footer>
    <div class="line"></div>
    <p class="follow-us">Siguenos en</p>

    <div class="social-icons-container">
        <div class="social-icon twitter"></div>
        <div class="social-icon facebook"></div>
        <div class="social-icon youtube"></div>
        <div class="social-icon skype"></div>
    </div>
    <p>Copyright 2018</p>
</footer>


<script type="text/javascript" src="<%=htmlWebpackPlugin.options.js %>"></script>